<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>GoService</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>RegisterEmployeeController</display-name>
    <servlet-name>RegisterEmployeeController</servlet-name>
    <servlet-class>rs.controller.RegisterEmployeeController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterEmployeeController</servlet-name>
    <url-pattern>/RegisterEmployeeController</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>emp_register</servlet-name>
    <servlet-class>rs.controller.RegisterEmployeeController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>emp_register</servlet-name>
    <url-pattern>/employee_register</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EmpLogin</display-name>
    <servlet-name>EmpLogin</servlet-name>
    <servlet-class>rs.controller.EmpLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmpLogin</servlet-name>
    <url-pattern>/employee_login</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>EmpLogout</servlet-name>
    <servlet-class>rs.controller.EmpLogoutController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmpLogout</servlet-name>
    <url-pattern>/emp_logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>dbController</servlet-name>
    <servlet-class>rs.controller.DeliveryBoysController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>dbController</servlet-name>
    <url-pattern>/delivery_boys_controller</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeliveryBoysUser</display-name>
    <servlet-name>DeliveryBoysUser</servlet-name>
    <servlet-class>rs.controller.DeliveryBoysUserController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeliveryBoysUser</servlet-name>
    <url-pattern>/delivery_boys_user</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeliveryBoysLoginController</display-name>
    <servlet-name>DeliveryBoysLoginController</servlet-name>
    <servlet-class>rs.controller.DeliveryBoysLoginController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeliveryBoysLoginController</servlet-name>
    <url-pattern>/delivery_boys_login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeliveryBoysChangeController</display-name>
    <servlet-name>DeliveryBoysChangeController</servlet-name>
    <servlet-class>rs.controller.DeliveryBoysChangeController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeliveryBoysChangeController</servlet-name>
    <url-pattern>/delivery_boys_change_status</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>db_logout</servlet-name>
    <servlet-class>rs.controller.DeliveryBoysLogoutController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>db_logout</servlet-name>
    <url-pattern>/db_logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DbChangeWorkStatusController</display-name>
    <servlet-name>DbChangeWorkStatusController</servlet-name>
    <servlet-class>rs.controller.DbChangeWorkStatusController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DbChangeWorkStatusController</servlet-name>
    <url-pattern>/delivery_boys_change_work_status</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddDeliveryBoysController</display-name>
    <servlet-name>AddDeliveryBoysController</servlet-name>
    <servlet-class>rs.controller.AddDeliveryBoysController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddDeliveryBoysController</servlet-name>
    <url-pattern>/add_delivery_boys</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>RegService</servlet-name>
    <servlet-class>rs.controller.RegisterController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegService</servlet-name>
    <url-pattern>/regDao</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>LoginService</servlet-name>
    <servlet-class>rs.controller.LoginController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginService</servlet-name>
    <url-pattern>/logDao</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SCRegService1</servlet-name>
    <servlet-class>rs.controller.SCRegisterController1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SCRegService1</servlet-name>
    <url-pattern>/scRegDao1</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SCRegService2</servlet-name>
    <servlet-class>rs.controller.SCRegisterController2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SCRegService2</servlet-name>
    <url-pattern>/scRegDao2</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SCLoginService</servlet-name>
    <servlet-class>rs.controller.SCLoginController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SCLoginService</servlet-name>
    <url-pattern>/scLogDao</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>RequestController</servlet-name>
    <servlet-class>rs.controller.RequestController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RequestController</servlet-name>
    <url-pattern>/reqController</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>RemoveReqController</servlet-name>
    <servlet-class>rs.controller.RemoveReqController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RemoveReqController</servlet-name>
    <url-pattern>/remController</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>RequestPageController</servlet-name>
    <servlet-class>rs.controller.RequestPageController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RequestPageController</servlet-name>
    <url-pattern>/reqPgController</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ImageCotroller</servlet-name>
    <servlet-class>rs.controller.ImageCotroller</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ImageCotroller</servlet-name>
    <url-pattern>/imageCotroller</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UpdateReqController</servlet-name>
    <servlet-class>rs.controller.UpdateReqController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateReqController</servlet-name>
    <url-pattern>/updReqController</url-pattern>
  </servlet-mapping>
</web-app>